Flask
Flask-SQLAlchemy
Flask-Migrate
PyMySQL
python-dotenv
Jinja2
Werkzeug
cryptography
pytz
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-Session
Flask-Cors
Flask-Admin
Flask-Testing
Flask-RESTful
Flask-Uploads
Flask-JWT-Extended
Flask-OAuthlib
Flask-Principal
Flask-Cache
Flask-Assets
Flask-Talisman
Flask-Security
Flask-Swagger-UI
Flask-Celery-Helper
pytest
coverage
requests
itsdangerous
arrow
python-dateutil
bcrypt
gunicorn
flask-ngrok
sentry-sdk
mock
