{% extends "base.html" %}

{% block content %}
<div class="bg-white p-6 rounded-lg shadow-md mb-6">
    <h2 class="text-2xl font-semibold text-gray-800">Deleted Books</h2>
</div>

<!-- Search Form -->
<form method="GET" action="{{ url_for('book.deleted_books') }}" class="mb-6">
    <div class="flex items-center space-x-4">
        <input type="text" name="search_query" placeholder="Search deleted books by title, author, year, or genre"
               value="{{ request.args.get('search_query', '') }}"
               class="w-full border border-gray-300 p-3 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white py-3 px-4 rounded transition duration-300 ease-in-out">Search</button>
    </div>
</form>

<!-- Deleted Books Table -->
<table class="w-full bg-white rounded-lg shadow-md">
    <thead class="bg-gray-800 text-white">
        <tr>
            <th class="p-4">Title</th>
            <th class="p-4">Author</th>
            <th class="p-4">Year</th>
            <th class="p-4">Genre</th>
            <th class="p-4">Deleted By</th>
            <th class="p-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr class="border-b hover:bg-gray-100 transition duration-200">
            <td class="p-4">{{ book.title }}</td>
            <td class="p-4">{{ book.author }}</td>
            <td class="p-4">{{ book.publication_year }}</td>
            <td class="p-4">{{ book.genre }}</td>
            <td class="p-4">{{ book.deleted_by_admin }}</td>
            <td class="p-4">
                <form action="{{ url_for('book.retrieve_book', title=book.title) }}" method="post" class="inline-block">
                    <button type="submit" class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">
                        Retrieve
                    </button>
                </form>
                <form action="{{ url_for('book.permanently_delete_book', title=book.title) }}" method="post" class="inline-block">
                    <button type="submit" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded">
                        Permanently Delete
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        text-align: center; /* Horizontal centering */
        vertical-align: middle; /* Vertical centering */
        padding: 10px; /* Add padding for spacing */
    }
    th {
        font-weight: bold;
    }
</style>
{% endblock %}